<footer class="footer">
<div class="container footer-container">
    <div class="three-section">
    <div class="footer-text-all">
        <p class="footer-text">Chocolate <span class="footer-span">a delicious cure for a bad day</span></p>
    </div>
    <div class="contacts"> 
    <div class="footer-container-adress">
        <p class="foter-contact-text">Contact us</p>
        <address class="footer-adress-link link">
        <ul class="footer-adress-list list">
            <li>
                <a href="tel:+380684439426" class="footer-adress">+380 (68) 443-94-26</a>
            </li>
            <li>
                <a href="mailto:simplychoc@gmail.com" class="footer-adress">simplychoc@gmail.com</a>
            </li>
        </ul>
        </address>
    </div>
    <div class="footer-container-social">
        <ul class="footer-social-list list">
            <li class="footer-social-list-icon">
                <a class="footer-social-link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"></a>
                <svg class="footer-social-svg">
                    <use href="../img/sprite.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="footer-social-list-icon">
                <a class="footer-social-link" href="https://twitter.com/" target="_blank" rel="noreferrer noopener"></a>
                <svg class="footer-social-svg">
                    <use href="../img/sprite.svg#icon-twitter"></use>
                </svg>
            </li>
        </ul>
    </div>
    </div>
    </div>    
    <div class="footer-menu">
            <ul class="footer-menu-list list">
                <li class="footer-menu-text">
                    <a href="#Home" class="footer-menu-link link">Home</a>
                </li>
                <li class="footer-menu-text">
                    <a href="#Howit’smade?" class="footer-menu-link link">How it’s made?</a>
                </li>
                <li class="footer-menu-text">
                    <a href="#Ourproducts" class="footer-menu-link link">Our products</a>
                </li>
                <li class="footer-menu-text">
                    <a href="#Topsellers" class="footer-menu-link link">Top sellers</a>
                </li>
                <li class="footer-menu-text">
                    <a href="#Chocolateisloved" class="footer-menu-link link">Chocolate is loved</a>
                </li>
            </ul>
        </div>
   
</div>
</footer>