<section id="how-made">
  <div class="container howmade-container">
  <h2 class="howmade-titel">
    hOW IT'S <span class="howmade-titel-color">made?</span>
  </h2>
  <div class="howmade-box">
    <div class="howmade-media">

      <!--=================Picture========================-->
      <!--
      <picture>
        <source
          srcset="
            /img/howmade-img/howmade-desctop-600.jpg    1x,
            /img/howmade-img/howmade-desctop-600@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          width="600"
          height="400"
          type="image/jpg"
        />
        <source
          srcset="
            /img/howmade-img/howmade-tab-614.jpg    1x,
            /img/howmade-img/howmade-tab-614@2x.jpg 2x
          "
          media="(min-width: 768px)"
          width="614"
          height="400"
          type="image/jpg"
        />
        <source
          srcset="
            /img/howmade-img/howmade-mob-335.jpg    1x,
            /img/howmade-img/howmade-mob-335@2x.jpg 2x
          "
          media="(min-width: 320px)"
          width="335"
          height="500"
          type="image/jpg"
        />
        <img
          src="/img/howmade-img/howmade-mob-335.jpg"
          alt="melted chocolate"
          class="howmade-img"
          width="335"
          height="500"
        />
      </picture>
      
 
       <svg class="howmade-icon-play" width="35" height="35">
          <use href="/img/howmade-img/howmade-icons.svg#icon-video-play">   </use>
        </svg>-->
    
      
<!--===========================Video====================================-->
      <div class="howmade-video">
        <iframe
        width: 335px;
        height: 500px;
          src="https://www.youtube.com/embed/fZGwpvGXDDo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
      </div>
      <!-- ======================Video-End==================-->
    </div>
    <div class="howmade-list-box">
      <p class="howmade-list-titel">
        Try our chocolates today and discover the perfect balance of flavor
      </p>

      <ul class="howmade-list">
        <li class="howmade-list-items">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="howmade-list-items">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="howmade-list-items">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="howmade-list-items">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
