<div class="subscribe-backdrop">
  <div class="subscribe-modal">
    <button type="button" class="subscribe-modal-close-btn">
      <svg class="subscribe-close-svg" width="28" height="28">
        <use href="/img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="subscribe-bacground-img"></div>
    <p class="subscribe-text">Explore our</p>
    <p class="subscribe-text">
      <span class="subscribe-text-span">new chocolate</span> first!
    </p>
    <form class="subscribe-form">
      <label class="subscribe-form-button">
        <input
          placeholder="Enter your email"
          class="subscribe-label-input"
          name="email-subscribe"
          type="email"
        />
      </label>
      <button class="subscribe-button-form" type="submit">Subscribe</button>
    </form>
  </div>
</div>
