<section class="top-sellers-section" id="top_sellers">
  <div class="container">
    <h2 class="top-sellers-title">
      <span class="top-sellers-logo">top</span>sellers
    </h2>
    <div class="container container-topsell">
      <ul class="list top-sellers">
        <li class="top-sellers-item">
          <img
            srcset="
              ./img/top-sellers/desktop/cofee-nuts-ds.jpg     1x,
              ./img/top-sellers/desktop/cofee-nuts-ds-@2x.jpg 2x
            "
            src="./img/top-sellers/desktop/cofee-nuts-ds.jpg"
            alt="cofee-nuts"
            width="368"
            height="464"
            class="top-sellers-img"
          />
        </li>
        <li class="top-sellers-item">
          <img
            srcset="
              ./img/top-sellers/desktop/choco-mix-ds.jpg     1x,
              ./img/top-sellers/desktop/choco-mix-ds-@2x.jpg 2x
            "
            src="./img/top-sellers/desktop/choco-mix-ds.jpg"
            alt="choco-mix"
            width="368"
            height="464"
            class="top-sellers-img"
          />
        </li>
        <li class="top-sellers-item">
          <img
            srcset="
              ./img/top-sellers/desktop/black-nut-ds.jpg     1x,
              ./img/top-sellers/desktop/black-nut-ds-@2x.jpg 2x
            "
            src="./img/top-sellers/desktop/black-nut-ds.jpg"
            alt="black-nut"
            width="368"
            height="464"
            class="top-sellers-img"
          />
        </li>
      </ul>
    </div>
    <div class="container container-sellers">
      <p class="top-sell-description">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button data-modal-open class="order-btn" type="button">Buy now</button>
    </div>
  </div>
</section>
