.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.advantages-container{
    background:var(--dark-color) ;
    padding: 20px;
}
.advantages-list{
    display: flex;
    flex-wrap: wrap;
       gap: 20px;
}

.advantages-list-items {
width: 308px;
}
@media screen and (min-width: 768px) {
    .advantages-container{
     
      padding-bottom: 85px;
      padding-top: 50px;
    }
    .advantages-list{
row-gap: 40px;
column-gap: 60px;

        }
}
@media screen and (min-width: 1200px) {
	.advantages-container{
        padding-bottom: 50px;
    }
    .advantages-list{
      
       flex-wrap: nowrap; 
    gap:70px;
    }
	}
  .advantages-icons-box{
    width: 62px;
    height: 62px;
    border: 1px solid var(--light-text-color);
border-radius: 365px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 22px;
}
.advantages-titel{
width: 173px;
height: 22px;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: calc(22/18);
color: var(--white-color);
margin-bottom: 18px;
}
.advantages-txt{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.02em;
width: 308px;
color:var(--light-text-color);

}

@media screen and (min-width: 1200px) {
    .advantages-list-items{
        padding-right: 18px;
        position: relative;}

.advantages-list-items:not(:last-child)::after{
    position: absolute;
    content: '';
    width: 124px;
    height: 0;
    border: 1px solid  rgba(255, 255, 255, 0.5);
    transform: rotate(270deg) translateY(326px);
    transform-origin: top left;
    top: 180px;


}}

 