/*mobile*/

@media screen and (min-width: 375px) and (max-width: 767px) {
    .contacts {
   
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        left: 297px;
        top: 120px;
        padding-bottom: 32px;
    
    
    }
    .footer-menu {
      
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 120px;
        height: 152px;
        top: 256px;
       
        
    }
    .foter-contact-text {
    padding-top: 32px;
    padding-bottom: 14px;
    width: 77px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #FFFFFF;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 130px;
    height: 152px;
    left: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer-container {
    height: 376px;
}
}

@media screen and (min-width: 375px) {
.container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.footer {
    background: var(--dark-color);
    padding-top: 32px;
    padding-bottom: 32px;
    height: 440px;
    top: 6800px;
    

}


.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #FD9222;
}

.footer-span {
    color: #FFFFFF;
}
.footer-text-all {
    width: 300px;
    left: 20px;
    top: 32px;

}

.footer-container-adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 164px;
    
}



.footer-adress {
    
    width: 134px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.footer-adress-li {
    padding-top: 14px;
    padding-bottom: 4px;
}

.footer-container-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 14px;
    width: 58px;
    height: 22px;
    left: 297px;
    top: 120px;
   

}
.footer-social-list {
    display: flex;
    align-items: center;
    gap: 14px;
  

}

    

.footer-social-svg {
    
    stroke: #FFFFFF;
    width: 22px;
    height: 22px;
    
}
.footer-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu::before {
   
    content: "";
    display: inline-block;
    width: 335px;
    height: 0px;
    left: 355px;
    top: 224px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
}



.footer-menu-text {

    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    letter-spacing: -0.02em;
    color: #FFFFFF;
   
}


}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.footer {
    width: 100%;
    height: 262px;
    left: 0px;
    top: 5856px;
    background: var(--dark-color);
}
.container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    }

.footer-container {
   
    align-items: baseline;
    flex-direction: row;
} 
.three-section {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 18px;
}

.footer-container-adress {
    display: flex;
    align-items: flex-start;
    position: absolute;
    height: 72px;
    left: 456px;
  
} 
.footer-text {
   
    width: 300px;
    left: 32px;
    top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #FD9222;
   
}

.footer-menu {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    height: 16px;
    left: 32px;
    top: 196px;
    padding-top: 54px;
}  
.footer-container-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 14px;
    width: 58px;
    height: 22px; 
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    height: 72px;
    padding-top: 8px;
}

.footer-menu::before {
    
    width: 704px;
    height: 0px;
    left: 736px;
    top: 172px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
}
.foter-contact-text {
  
    width: 77px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #FFFFFF;

}
.footer-menu-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    padding-top: 24px;
}

}

@media screen and (min-width: 1158px) {

.three-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 62px;
}

.footer-container-social {
    display: block;
     }
.footer {
    
    width: 100%;
    height: 270px;
    left: 0px;
    top: 4784px;
    background: var(--dark-color);
}
.container {
    width: 1200px;
}

.footer-text {
    width: 300px;
    height: 68px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #FD9222;
    padding-top: 18px;
    padding-top: 0;

}
.footer-span {
    color: #FFFFFF;
}
.footer-container-adress {
    /*display: block;*/
    position: relative;
    left: 0;
    top: 0;
    margin-right: 63px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

}
.foter-contact-text {
  
    width: 77px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #FFFFFF;
}
.contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    height: 72px;
    position: relative;
    
    
}
.footer-container-social {
    justify-content: flex-end;
}
.footer-menu-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    padding-top: 24px;
}
.footer-menu::before {
    
    width: 100%;
    height: 0px;
    left: 1168px;
    top: 180px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
}


}